<!-- <html>
    <head>

    </head>
    <body>
        <%- include('_header'); %>
        <h1>
            Codeial/profile
        </h1>
        <%- include('_footer'); %>
    </body>
</html> -->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
        Codeial/profile
    </h1>
    <h1><%= user.name%></h1>
    <h1><%= user.email%></h1>
    <!-- <h1><%= user.password%></h1> -->